<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>大脑的奥秘</title><META Name="keywords" Content="大脑如何决策？" />

	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" href="css/mystyle.css" />
	<link rel="stylesheet" href="css/slick.css" />

	<script src="js/jquery.min.js"></script>
	<script src="js/scrollpic.js"></script>
    <!--[if lt IE 8]>
    <link rel="stylesheet" media="screen" href="css/iestyle.css" type="text/css" />
    <![endif]-->
    
    <style>

    	.is-ztbox{  background: #EEF1F3; padding: 20px; position: relative;  margin-bottom: 60px; overflow: hidden;  height: 120px; width: 1340px;}
    	.is-ztbox .blk_29 {zoom: 1; position: relative; height:120px; overflow:hidden;}
    	.is-ztbox .blk_29 .LeftBotton { background: url(images/butleft.png) center center  no-repeat;  float: left; width: 40px; cursor: pointer; position: absolute; top:42px; height: 40px; left:0px; z-index: 999;}
    	.is-ztbox .blk_29 .RightBotton {background: url(images/butright.png) center center no-repeat ; float: right; width: 40px; cursor: pointer; position: absolute; top:42px; height: 40px; right:0px; z-index: 999;}
    	.is-ztbox .blk_29 .Cont {overflow: hidden; width:1200px;}
    	.is-ztbox .blk_29 .box {float: left; width: 320px; text-align: center; margin-right: 20px;}
    	.is-ztbox .blk_29 .box img{ width:320px; height:120px;}
    	.is-ztbox .blk_29 .box a{ color:#333;}
    	.is-ztbox .blk_29 .box a:hover{ color:#c00; text-decoration:none;}
    	.is-ztbox .blk_29 .box span{ display:block; height:25px; line-height:25px; background:#f4f4f4; text-align:center;}
    	.is-ztbox .blk_29 .LeftBotton,.is-ztbox .blk_29 .RightBotton{ display: none;}
    	.is-ztbox .blk_29:hover .LeftBotton{ display: block;}
    	.is-ztbox .blk_29:hover .RightBotton{ display: block;}
    </style>
    <!--Announced by Visual SiteBuilder 9-->
    <link rel="stylesheet" type="text/css" href="_sitegray/_sitegray_d.css" />
    <script language="javascript" src="_sitegray/_sitegray.js"></script>
    <!-- CustomerNO:7765626265723230746847545350554403080202 -->
    <link rel="stylesheet" type="text/css" href="index.vsb.css" />
    <script type="text/javascript" src="/system/resource/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
    <script type="text/javascript" src="/system/resource/js/counter.js"></script>
    <script type="text/javascript">_jsq_(1001,'/index.jsp',-1,1454720253)</script>
</head>
<body style="min-width:1400px;">
	<div class="header">
		<div class="container clearfix">
			<span class="logo fl">
				<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
				<a href="index.html">
					<img src="images/logo.png" alt="" /></a></span>


					<script language="javascript" src="/system/resource/js/dynclicks.js"></script>
					<i class="fl linian" style="margin-left:-80px"><img src="images/linian.png" alt="" /></i>

					<div class="headerRight fr clearfix">
						<p class="fl juese"><script language="javascript" src="/system/resource/js/openlink.js"></script>

							<a href="http://urp.tongji.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41428)">学生</a></li></a>

							<a href="http://urp.tongji.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41429)">教工</a></li></a>

							<a href="http://www.tongjiren.org/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41457)">校友</a></li></a>

							<a href="http://www.tongji.edu.cn/xglj/ks1.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41430)">考生</a></li></a>

							<a href="http://www.tongji.edu.cn/xglj/fk.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41431)">访客</a></li></a>


						</p>
						<ul class="fl mail clearfix">

							<li><a href="https://mail.tongji.edu.cn/coremail/index.jsp" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41432)">同济邮箱</a></li>

							<li class="hotpic">
								<a href="#">快速通道</a>
								<div class="xiala" style="display:none;">
									<i class="kstdsj"></i>
									<a href="http://myportal.tongji.edu.cn/new/index.html" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41518)">校园门户</a>
									<a href="http://oa.tongji.edu.cn/login/Login.jsp?logintype=1" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41523)">OA系统</a>
									<a href="http://www.lib.tongji.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41828)">图书馆</a>
									<a href="http://open.tongji.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41522)">同心云</a>
									<a href="http://service.tongji.edu.cn" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41520)">办事大厅</a>
									<a href="http://cwc.tongji.edu.cn/WFManager/login.jsp" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41521)">财务系统</a>
									<a href="https://ids.tongji.edu.cn:8443/nidp/saml2/sso?id=719&amp;sid=0&amp;option=credential&amp;sid=0" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41519)">教务系统</a>
									<a href="http://nic.tongji.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41528)">网络中心</a>
									<a href="wx.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41527)">同济微信</a>
									<a href="http://weibo.com/tongjiuniversity" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41524)">同济微博</a>
									<a href="https://mail.tongji.edu.cn/coremail/index.jsp" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41526)">同济邮箱</a>
									<a href="http://fund.tongji.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41525)">我要捐赠</a>
									<a href="http://2017.tongji.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41736)" style="float: right;">旧站入口</a>
								</div>
							</li>

							<li class="hotpic">

								<a href="http://xxgk.tongji.edu.cn/index.php?classid=3059">信息公开</a>

							</li>

						</ul>
						<ul class="fl tool">



							<li><a href="http://en.tongji.edu.cn" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41434)">English</a></li>




							<li><a href="http://de.tongji.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41435)">Deutsch</a></li>



							<li class="search" id="search">
								<button><i class="icon-search"><img src="images/icons/icon-sear.png" alt="" /></i></button>
								<div class="searchBox">
									<!--<form action="">-->
									<script type="text/javascript">
										function _nl_ys_check(){

											var keyword = document.getElementById('showkeycode203864').value;
											if(keyword==null||keyword==""){
												alert("请输入你要检索的内容！");
												return false;
											}
											if(window.toFF==1)
											{
												document.getElementById("lucenenewssearchkey203864").value = Simplized(keyword );
											}else
											{
												document.getElementById("lucenenewssearchkey203864").value = keyword;            
											}
											var  base64 = new Base64();
											document.getElementById("lucenenewssearchkey203864").value = base64.encode(document.getElementById("lucenenewssearchkey203864").value);
											new VsbFormFunc().disableAutoEnable(document.getElementById("showkeycode203864"));
											return true;
										} 
									</script>
									<form action="search.jsp?wbtreeid=1001" method="post" id="au7a" name="au7a" onsubmit="return _nl_ys_check()" style="display: inline">
										<input type="hidden" id="lucenenewssearchkey203864" name="lucenenewssearchkey" value=""><input type="hidden" id="_lucenesearchtype203864" name="_lucenesearchtype" value="1"><input type="hidden" id="searchScope203864" name="searchScope" value="0">

										<input name="showkeycode" id="showkeycode203864" type="text" class="motion_1">

										<input type="hidden" src="/system/resource/images/research/seach22.gif" align="absmiddle" style="cursor: hand">

									</form><script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/js/formfunc.js"></script>

									<i class="close-search"><img src="images/icons/closeicon.png" alt="" /></i>
									<!--</form>-->
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="leader">
		<div class="leader-item">
			<div class="leader-tit"><h2>大脑的奥秘</h2></div>
			<div class="leader-con clearfix">
				<ul class="yw-list clearfix" style="padding-left: 20px">
					<li>
						<div class="ywpic">
							<img src="images/1.png" alt="">
						</div>
					</li>
				</ul>
				<div class="textbox fl">
					<div class="inner-item" style="padding-left: 20px">
						<h4>1.课程介绍</h4>
						<div class="inner-con clearfix" style="padding-bottom: 15px">
							<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp大脑作为人体的“控制终端”，究竟藏有多少值得探究的秘密？记忆储存在哪里？从目视到耳闻，大脑如何带领我们认识世界？从思考到表达，大脑又如何指挥身体各个部位协同工作？科学养生，我们又该如何保护我们的大脑？人工智能（AI）的未来又是怎样的？选修《大脑的奥秘：神经科学导论》课程，让复旦大学俞洪波教授与同济大学齐薪蕊老师带你一起“掀起你的头盖来”，了解大脑的奥秘！</p>
						</div>
						<h4>2.教师介绍</h4>
						<div class="inner-con clearfix">
							<p>俞洪波，复旦大学生命科学学院教授。中国科学技术大学生物物理博士。2000年在美国麻省理工学院学习与记忆研究所以及脑与认知科学系从事博士后研究，研制快速光学成像系统和高等哺乳动物双光子激光成像系统，进行视觉皮层功能与结构可塑性的研究工作。复旦大学“关键岗位”一档教授，美国Frontiers in Neuroscience杂志编辑。
								<br /><br />
								齐薪蕊，同济大学医学院助理教授，主要进行神经精神疾病（如抑郁症或神经退行性疾病）的发病机制和治疗策略的研究。2013年获得中国科学技术大学神经生物学博士，攻读博士期间（2008年-2011年）前往荷兰皇家艺术与科学学院-荷兰神经科学研究所进行中荷合作项目，研究课题为抑郁症患者前额叶中情感调节相关信号通路紊乱的分子基础。</p>
							</div>
						</div>	
					</div>

					<div class="inner-item item2 fr">
						<div class="inner-item">
							<h4>上课时间：</h4>
							<div class="inner-con clearfix">
								<span>星期三 10-11 [1-17]</span>

							</div>

							<h4>上课地点：</h4>
							<div class="inner-con clearfix">

								<span>南121</span>

							</div>
						</div>
						<div class="inner-item">
							<h4>授课教师：</h4>
							<div class="inner-con clearfix">

								<span>俞洪波<br />
									齐薪蕊</span>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="leader" style="padding-bottom: 80px">
		<div class="leader-item">
			<div class="leader-tit">更多信息</div>
			<div class="inner-item fl" style="padding-left: 20px;padding-top: 10px;">
				<img src="images/class1.png" style="width:100px"/>
			</div>
		</div>
	</div>

	<div class="leader" style="padding-bottom: 50px">
		<div class="leader-item">
			<div class="leader-tit">资料上传</div>
			<div class="item1 fl" style="padding-left:10px;padding-top:10px;">
				<input type="file" id="files" multiple><script>
				var elem = document.getElementById('files');
				elem.onchange = function (event) {        
					var files = event.target.files;       
					for (var i = 0; i < files.length; i++) {
						if(files[i].type.indexOf('image/') !== -1 && files[i].size < 204800){
							console.log(files[i].name);
						}
					}
				}</script>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container clearfix">
			<div class="footLogo fl">    
				<img src="images/footlogo.png" alt="" />
			</div>
			<div class="footRight fr clearfix">
				<script language="javascript" src="/system/resource/js/news/mp4video.js"></script>
				<div class="footMiddle fl"> 
					<h3>联系我们</h3> 
					<p class="address">同济大学新闻中心主办 &nbsp; &nbsp; &nbsp; E-mail:newscenter@tongji.edu.cn</p> 
					<p class="copyright">Copyright@2018 &nbsp;同济大学版权所有 &nbsp; &nbsp; &nbsp;沪ICP备10014176号 &nbsp; &nbsp;<br>沪公网安备：31009102000038号&nbsp; &nbsp; &nbsp;<a href="http://www.shjbzx.cn/">沪举报中心</a></p> 
				</div>
				<ul class="shareList fl clearfix">

					<li><a href="http://weibo.com/tongjiuniversity"><img src="images/icons/icon-share1.png" alt="" /></a></li>



					<li><a href="wx.htm"><img src="images/icons/icon-share2.png" alt="" /></a></li>



					<li><a href="http://open.tongji.edu.cn/"><img src="images/icons/icon-share3.png" alt="" /></a></li>

					<li>

						<a href="javascript:void(0);" title="手机版" onclick="_vsb_multiscreen.setDevice('mobile')"><img src="images/icons/icon-share4.png" alt="" /></a>

					</li>

				</ul>
			</div>
		</div>
	</div>
	<i class="xialajt"><img src="images/xialajt.png" alt="" /></i>
	<script src="js/homefast_navxl.js"></script>
	<script src="js/jquery.flexslider-min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/jqthumb.js"></script>
	<!-- 代码部分end -->
	<script>
		$(".banner .flexslider").flexslider({
			animation:'fade',
        slideshowSpeed: 6000, //展示时间间隔ms
        animationSpeed: 1000, //滚动时间ms
        touch: true //是否支持触屏滑动
    });
		$(function(){
			$('#slick1').slick({
				dots: true,
				slidesToShow: 4,
				slidesToScroll: 4,
				autoplay:true,
				arrows:true,
				autoplaySpeed:8000,
				speed:800
			});
			$('#slick2').slick({
				dots: true,
				arrows:true,
				autoplay:true,
				autoplaySpeed:5000,
				speed:800
			});
			$('#slick3').slick({
				dots: true,
				arrows:false,
				autoplay:true,
				autoplaySpeed:4000,
				speed:800
			});
			$('#slick4').slick({
				dots: true,
				slidesToShow: 1,
				slidesToScroll: 1,
				autoplay:true,
				arrows:false,
				autoplaySpeed:8000,
				speed:800
			});
		});
		$(window).bind("scroll",function(){

			if($(window).scrollTop()>40)
			{
				if(!$(".nav").is(".scroll")) $(".nav").addClass("scroll");
			}else
			{
				$(".nav").removeClass("scroll");
			}
		})
    //search
    $(".search button").click(function(){
    	$(".searchBox").show("2s");
    	$(this).hide();
    });
    $(".search .close-search").click(function(){
    	$(".searchBox").hide();
    	$(".search button").show();
    })
    $(".zkbtn").click(function(){
    	$(".sq-td").slideDown(500);
    	$(this).hide();
    	$(".sqbtn").show();
    })
    $(".sqbtn").click(function(){
    	$(".sq-td").slideUp(500);
    	$(this).hide();
    	$(".zkbtn").show();
    })
    /* 1 */
    $(function(){
    	$(".tjyx-list li").hover(
    		function(){
    			var that=this;
    			$(that).addClass("active");
    			$(that).children("a").animate({"height":200},300);
    			$(that).find("div.tjyx-txt").animate({"height":200},300);
    			$(that).find("p.tjyx-detail").show();
    		},
    		function(){
    			var that=this;
    			$(that).removeClass("active");
    			$(that).find("p.tjyx-detail").hide();
    			$(that).children("a").animate({"height":360},300);
    			$(that).find("div.tjyx-txt").animate({"height":41},300);
    		}
    		)
       // $(".riliicon").mouseenter(function(){
           // $(".rili").show(100);
            //$(this).hide(100);
       // })
        //$(".rili").mouseleave(function(){
        //    $(this).hide(100);
         //   $(".riliicon").show(100);
       // })
   });
     //点击箭头切换栏目
     $(function(){

     	var $topArr = [0];
     	var $scrollNum = 0;

     	$('.smark').each(function(i,ele){
     		var $top = $(ele).offset().top-100;
     		$topArr.push($top);
     	});

     	$(window).on('scroll',function () {
     		if($(window).scrollTop()>4000)
     		{
     			$(".xialajt").hide();
     		}else
     		{
     			$(".xialajt").show();
     		}

     		var $st = $(this).scrollTop();
     		for(i=0;i<($topArr.length-1);i++){
     			if($st>=($topArr[i]-10) && $st<=$topArr[i+1]){
     				$scrollNum = i;
     			}
     		}
     	});

        //$('.banner').on('click',function(){
          //  var $top = $topArr[1];
           // $('html,body').animate({'scrollTop':$top},300);
          //  $scrollNum = 1;
       // });

       $('.xialajt').on('click',function(){
       	if($scrollNum<=($topArr.length-1)){
       		$scrollNum++;
       		$('html,body').animate({'scrollTop':$topArr[$scrollNum]},300);
       	}else{
       		return false
       	}
       });
   });


     var srTarget;
     $(".hotpic").click(function(e){
     	$(this).children(".xiala").slideToggle(); 
     	srTarget=e.target;
     })
     $(".xiala").click(function(e){
     	srTarget=e.target;
     })
     $("html").click(function(event) {
     	if (event.target !=srTarget) {
     		$(".xiala").slideUp();
     	}
     }); 

     function backTop(){
     	$('html').animate({ scrollTop: 0 }, 1000);
     }
     $(function(){
     	$('.ywpic img').jqthumb({width:386,height:240});
     	$(".txjy-left>img").jqthumb({width:227,height:240});
     });





 </script>
</body>
</html>
