<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>脑认知与智能计算</title><META Name="keywords" Content="脑认知与智能计算" />

	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" href="css/mystyle.css" />
	<link rel="stylesheet" href="css/slick.css" />

	<script src="js/jquery.min.js"></script>
	<script src="js/scrollpic.js"></script>
	<!--[if lt IE 8]>
	<link rel="stylesheet" media="screen" href="css/iestyle.css" type="text/css" />
	<![endif]-->

	<style>

		.is-ztbox{  background: #EEF1F3; padding: 20px; position: relative;  margin-bottom: 60px; overflow: hidden;  height: 120px; width: 1340px;}
		.is-ztbox .blk_29 {zoom: 1; position: relative; height:120px; overflow:hidden;}
		.is-ztbox .blk_29 .LeftBotton { background: url(images/butleft.png) center center  no-repeat;  float: left; width: 40px; cursor: pointer; position: absolute; top:42px; height: 40px; left:0px; z-index: 999;}
		.is-ztbox .blk_29 .RightBotton {background: url(images/butright.png) center center no-repeat ; float: right; width: 40px; cursor: pointer; position: absolute; top:42px; height: 40px; right:0px; z-index: 999;}
		.is-ztbox .blk_29 .Cont {overflow: hidden; width:1200px;}
		.is-ztbox .blk_29 .box {float: left; width: 320px; text-align: center; margin-right: 20px;}
		.is-ztbox .blk_29 .box img{ width:320px; height:120px;}
		.is-ztbox .blk_29 .box a{ color:#333;}
		.is-ztbox .blk_29 .box a:hover{ color:#c00; text-decoration:none;}
		.is-ztbox .blk_29 .box span{ display:block; height:25px; line-height:25px; background:#f4f4f4; text-align:center;}
		.is-ztbox .blk_29 .LeftBotton,.is-ztbox .blk_29 .RightBotton{ display: none;}
		.is-ztbox .blk_29:hover .LeftBotton{ display: block;}
		.is-ztbox .blk_29:hover .RightBotton{ display: block;}
		.content{display: none;}
		.active {border:medium double rgb(255,0,255)}

	</style>
	<!--Announced by Visual SiteBuilder 9-->
	<link rel="stylesheet" type="text/css" href="_sitegray/_sitegray_d.css" />
	<script language="javascript" src="_sitegray/_sitegray.js"></script>
	<!-- CustomerNO:7765626265723230746847545350554403080202 -->
	<link rel="stylesheet" type="text/css" href="index.vsb.css" />
	<script type="text/javascript" src="/system/resource/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
	<script type="text/javascript" src="/system/resource/js/counter.js"></script>
	<script type="text/javascript">_jsq_(1001,'/index.jsp',-1,1454720253)</script>
</head>
<body style="min-width:1400px;">
	<div class="header">
		<div class="container clearfix">
			<span class="logo fl">
				<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
				<a href="index.html">
					<img src="images/logo.png" alt="" /></a></span>


					<script language="javascript" src="/system/resource/js/dynclicks.js"></script>
					<i class="fl linian" style="margin-left:-80px"><img src="images/linian.png" alt="" /></i>

					<div class="headerRight fr clearfix">
						<p class="fl juese"><script language="javascript" src="/system/resource/js/openlink.js"></script>

							<a href="http://urp.tongji.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41428)">学生</a></li></a>

							<a href="http://urp.tongji.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41429)">教工</a></li></a>

							<a href="http://www.tongjiren.org/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41457)">校友</a></li></a>

							<a href="xglj/ks1.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41430)">考生</a></li></a>

							<a href="xglj/fk.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41431)">访客</a></li></a>


						</p>
						<ul class="fl mail clearfix">

							<li><a href="https://mail.tongji.edu.cn/coremail/index.jsp" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41432)">同济邮箱</a></li>

							<li class="hotpic">
								<a href="#">快速通道</a>
								<div class="xiala" style="display:none;">
									<i class="kstdsj"></i>
									<a href="http://myportal.tongji.edu.cn/new/index.html" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41518)">校园门户</a>
									<a href="http://oa.tongji.edu.cn/login/Login.jsp?logintype=1" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41523)">OA系统</a>
									<a href="http://www.lib.tongji.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41828)">图书馆</a>
									<a href="http://open.tongji.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41522)">同心云</a>
									<a href="http://service.tongji.edu.cn" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41520)">办事大厅</a>
									<a href="http://cwc.tongji.edu.cn/WFManager/login.jsp" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41521)">财务系统</a>
									<a href="https://ids.tongji.edu.cn:8443/nidp/saml2/sso?id=719&amp;sid=0&amp;option=credential&amp;sid=0" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41519)">教务系统</a>
									<a href="http://nic.tongji.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41528)">网络中心</a>
									<a href="wx.htm" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41527)">同济微信</a>
									<a href="http://weibo.com/tongjiuniversity" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41524)">同济微博</a>
									<a href="https://mail.tongji.edu.cn/coremail/index.jsp" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41526)">同济邮箱</a>
									<a href="http://fund.tongji.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41525)">我要捐赠</a>
									<a href="http://2017.tongji.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41736)" style="float: right;">旧站入口</a>
								</div>
							</li>

							<li class="hotpic">
								<a href="http://xxgk.tongji.edu.cn/index.php?classid=3059">信息公开</a>
							</li>
						</ul>
						<ul class="fl tool">
							<li><a href="http://en.tongji.edu.cn" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41434)">English</a></li>
							<li><a href="http://de.tongji.edu.cn/" title="" onclick="_addDynClicks(&#34;wburl&#34;, 1454720253, 41435)">Deutsch</a></li>
							<li class="search" id="search">
								<button><i class="icon-search"><img src="images/icons/icon-sear.png" alt="" /></i></button>
								<div class="searchBox">
									<!--<form action="">-->
									<script type="text/javascript">
										function _nl_ys_check(){

											var keyword = document.getElementById('showkeycode203864').value;
											if(keyword==null||keyword==""){
												alert("请输入你要检索的内容！");
												return false;
											}
											if(window.toFF==1)
											{
												document.getElementById("lucenenewssearchkey203864").value = Simplized(keyword );
											}else
											{
												document.getElementById("lucenenewssearchkey203864").value = keyword;            
											}
											var  base64 = new Base64();
											document.getElementById("lucenenewssearchkey203864").value = base64.encode(document.getElementById("lucenenewssearchkey203864").value);
											new VsbFormFunc().disableAutoEnable(document.getElementById("showkeycode203864"));
											return true;
										} 
									</script>
									<form action="search.jsp?wbtreeid=1001" method="post" id="au7a" name="au7a" onsubmit="return _nl_ys_check()" style="display: inline">
										<input type="hidden" id="lucenenewssearchkey203864" name="lucenenewssearchkey" value=""><input type="hidden" id="_lucenesearchtype203864" name="_lucenesearchtype" value="1"><input type="hidden" id="searchScope203864" name="searchScope" value="0">

										<input name="showkeycode" id="showkeycode203864" type="text" class="motion_1">

										<input type="hidden" src="/system/resource/images/research/seach22.gif" align="absmiddle" style="cursor: hand">

									</form><script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/js/formfunc.js"></script>

									<i class="close-search"><img src="images/icons/closeicon.png" alt="" /></i>
									<!--</form>-->
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="leader">
		<div class="leader-item">
			<div class="leader-tit"><h2>脑认知与智能计算</h2></div>
			<div class="leader-con clearfix">
				<ul class="yw-list clearfix" style="padding-left: 20px">
					<li>
						<div class="ywpic">
							<img src="images/3.png" alt="">
						</div>
					</li>
				</ul>
				<div class="textbox fl">
					<div class="inner-item" style="padding-left: 20px">
						<h4>1.课程定位</h4>
						<div class="inner-con clearfix" style="padding-bottom: 15px">
							<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp二十一世纪是一个全球信息化的世纪，信息化与产业经济和社会生活的全面融合成为经济社会发展方式转型、产业优化升级、社会生活变革的基础性推动力和创新发展主要技术手段，而基于生物激发的人工智能及智能计算所发展出的前沿信息科学技术正日益成为全球信息科学革命浪潮中理论与应用的制高点及关键推动力，它融合和集成了当今信息学科（比如人工智能、计算机、智能机器、通讯、电子等）、认知科学、生物学、人类学、管理学、经济学等多学科跨领域的前沿知识成果，从而进行跨学科、跨行业、跨领域的前沿研究及技术应用，以赋予和实现各种软硬系统具备感知、认知、智能、个性、绿色、高效、安全、自适应等拟人/生物的先进特征与能力。通过本课程的学习，开阔学生视野，使学生对当今信息学科的前沿理论及应用研究发展有一个初步了解和认知，培养其科学分析问题及解决问题的思维、基础与能力，为学生未来从事脑科学、人工智能、机器人、大数据分析、智能网络、自动控制、人机交互、医疗与康复、信息管理与服务等众多领域的科学理论、方法、技术及其应用打下坚实的基础。</p>
						</div>

						<h4>2. 课程教学目标</h4>
						<div class="inner-con clearfix">
							<p>课程教学目标1：认识和理解脑科学与智能、脑机制与智能计算等基本概念、基础知识。<br />
								课程教学目标2：了解和掌握认知科学的基本知识、思想方法和研究方法。<br />
								课程教学目标3：了解和掌握前沿信息科学技术研究进展、领域、方法等。<br />
								课程教学目标4：了解和掌握智能计算的基本概念、基础知识、前沿进展及应用。<br />
								课程教学目标5：运用所学知识，学习掌握针对实践问题进行智能计算建模的基本能力。</p>
							</div>
						</div>
					</div>

					<div class="inner-item item2 fr">
						<div class="inner-item">
							<h4>上课时间：</h4>
							<div class="inner-con clearfix">
								<span>2019-2020学年第一学期，周一下午5,6节课</span>

							</div>

							<h4>上课地点：</h4>
							<div class="inner-con clearfix">

								<span>嘉定校区B306</span>

							</div>
						</div>
						<div class="inner-item fl">
							<h4>授课教师：</h4>
							<div class="inner-con clearfix">

								<span>孙杳如教授<br />
									李洁副教授<br />
									龚晓亮博士</span>

								</div>
							</div>
							<div class="inner-item fr" style="width:60%">
								<h4>联系方式：</h4>
								<div class="inner-con clearfix">

									<span>yaoru@tongji.edu.cn<br />
										nijanice@163.com<br />
										gxllshsh@tongji.edu.cn</span>

									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="leader" style="padding-bottom: 60px">
			<div class="leader-item">
				<div class="leader-tit">资料下载</div>
				<div class="inner-item fl" style="padding-left: 20px;padding-top: 10px;">
					<a href="files/class3.xlsx" download="2019脑认知与智能计算课程安排.xlsx">
						<div style="text-align: center"><img src="images/icons/xlsx.png" style="width:50px;"/></div>  
						<a href="files/class3.xlsx" download="2019脑认知与智能计算课程安排.xlsx">课程安排</a>
					</a>
				</div>
				<div class="inner-item fl" style="padding-left: 20px;padding-top: 10px;">
					<a href="files/experiment.zip" download="fmri_experiment.zip">
						<div style="text-align: center"><img src="images/icons/zip.png" style="width:50px;"/></div>
						<a href="files/experiment.zip" download="fmri_experiment.zip">数据分析实践1～fMRI</a>
					</a>
				</div>
				<div class="inner-item fl" style="padding-left: 20px;padding-top: 10px;">
					<a href="files/EEGprocess.zip" download="EEGprocess.zip">
						<div style="text-align: center"><img src="images/icons/zip.png" style="width:50px;"/></div>
						<a href="files/EEGprocess.zip" download="EEGprocess.zip">数据分析实践2～EEG</a>
					</a>
				</div>
				<div class="inner-item fl" style="padding-left: 20px;padding-top: 10px;">
					<a href="files/fNIRSprocess.zip" download="EEGprocess.zip">
						<div style="text-align: center"><img src="images/icons/zip.png" style="width:50px;"/></div>
						<a href="files/fNIRSprocess.zip" download="fNIRSprocess.zip">数据分析实践3～NIR</a>
					</a>
				</div>
				<div class="inner-item fl" style="padding-left: 20px;padding-top: 10px;">
					<a href="files/source.zip" download="source.zip">
						<div style="text-align: center"><img src="images/icons/zip.png" style="width:50px;"/></div>
						<a href="files/source.zip" download="source.zip">互动算法实践</a>
					</a>
				</div>
			</div>
		</div>

		<div class="leader" style="padding-bottom: 50px">
			<div class="leader-item">
				<div class="leader-tit">资料上传</div>
				<div class="item1 fl" style="padding-left:10px;padding-top:10px;">
					<input type="file" id="files" multiple><script>
					var elem = document.getElementById('files');
					elem.onchange = function (event) {        
						var files = event.target.files;       
						for (var i = 0; i < files.length; i++) {
							if(files[i].type.indexOf('image/') !== -1 && files[i].size < 204800){
								console.log(files[i].name);
							}
						}
					}</script>
				</div>
			</div>
		</div>

		<div class="leader" style="padding-bottom: 800px">
			<div class="leader-item">
				<div class="leader-tit">算法实践</div>
				<div class="leader-con clearfix">
					<div class="textbox" style="padding-left:30px; padding-top:30px; width: 90%;">
						<div class="inner-item fl" style="width: 500px;">

							<h4>代码实践</h4>
							<h5 style="padding-top:20px;">预处理</h5>
							<div style="padding-top:5px;">
								<button class="button1 active" id='1'>average_psd_max_channels</button>
							</div>
							<div style="padding-top:20px;">
								<button class="button1" id='2'>psd_5avg_max_channels</button>
							</div>
							<div style="padding-top:20px;">
								<button class="button1" id='3'>psd_max_channels</button>
							</div>
							<h5 style="padding-top:20px;">频段</h5>
							<div style="padding-top:5px;">
								<button class="button1 active" id='4'>alpha</button>
							</div>
							<div style="padding-top:20px;">
								<button class="button1" id='5'>lowbeta</button>
							</div>
							<div style="padding-top:20px;">
								<button class="button1" id='6'>highbeta</button>
							</div>
							<div style="padding-top:20px;">
								<button class="button1" id='7'>lowgamma</button>
							</div>
							<div style="padding-top:20px;">
								<button class="button1" id='8'>highgamma</button>
							</div>
							<div style="padding-top:20px;">
								<button class="button1" id='9'>theta</button>
							</div>

						</div>
						<div class="inner-item fr" style="width:auto;">
							<h4>运行结果</h4>
							<div class="content" style="display: block; padding-top:20px;">
								<img src="images/result/1/alpha.jpg" style="width:600px; height:600px;" />
							</div>
							<div class="content" style="padding-top:20px;">
								<img src="images/result/1/lowbeta.jpg" style="width:600px; height:600px;" />
							</div>
							<div class="content" style="padding-top:20px;">
								<img src="images/result/1/highbeta.jpg" style="width:600px; height:600px;" />
							</div>
							<div class="content" style="padding-top:20px;">
								<img src="images/result/1/lowgamma.jpg" style="width:600px; height:600px;" />
							</div>
							<div class="content" style="padding-top:20px;">
								<img src="images/result/1/highgamma.jpg" style="width:600px; height:600px;" />
							</div>
							<div class="content" style="padding-top:20px;">
								<img src="images/result/1/theta.jpg" style="width:600px; height:600px;" />
							</div>

							<div class="content" style="padding-top:20px;">
								<img src="images/result/2/alpha.jpg" style="width:600px; height:600px;" />
							</div>
							<div class="content" style="padding-top:20px;">
								<img src="images/result/2/lowbeta.jpg" style="width:600px; height:600px;" />
							</div>
							<div class="content" style="padding-top:20px;">
								<img src="images/result/2/highbeta.jpg" style="width:600px; height:600px;" />
							</div>
							<div class="content" style="padding-top:20px;">
								<img src="images/result/2/lowgamma.jpg" style="width:600px; height:600px;" />
							</div>
							<div class="content" style="padding-top:20px;">
								<img src="images/result/2/highgamma.jpg" style="width:600px; height:600px;" />
							</div>
							<div class="content" style="padding-top:20px;">
								<img src="images/result/2/theta.jpg" style="width:600px; height:600px;" />
							</div>   

							<div class="content" style="padding-top:20px;">
								<img src="images/result/3/alpha.jpg" style="width:600px; height:600px;" />
							</div>
							<div class="content" style="padding-top:20px;">
								<img src="images/result/3/lowbeta.jpg" style="width:600px; height:600px;" />
							</div>
							<div class="content" style="padding-top:20px;">
								<img src="images/result/3/highbeta.jpg" style="width:600px; height:600px;" />
							</div>
							<div class="content" style="padding-top:20px;">
								<img src="images/result/3/lowgamma.jpg" style="width:600px; height:600px;" />
							</div>
							<div class="content" style="padding-top:20px;">
								<img src="images/result/3/highgamma.jpg" style="width:600px; height:600px;" />
							</div>
							<div class="content" style="padding-top:20px;">
								<img src="images/result/3/theta.jpg" style="width:600px; height:600px;" />
							</div>                   
						</div>
					</div>
					<div class="textbox" style="padding-left:30px; padding-top:30px; width: 90%;">
						<div class="inner-item" style="width: 500px;padding-top:100px;">
							<h4>算法代码</h4>
							<div style="padding-top:30px;">
								<iframe class="childFrame" src="code.html?1" style="width: 800px;height: 500px;"></iframe>
								<iframe class="childFrame" src="code.html?01" style="width: 800px;height: 500px;"></iframe>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="container clearfix">
				<div class="footLogo fl">    
					<img src="images/footlogo.png" alt="" />
				</div>
				<div class="footRight fr clearfix">
					<script language="javascript" src="/system/resource/js/news/mp4video.js"></script>
					<div class="footMiddle fl"> 
						<h3>联系我们</h3> 
						<p class="address">同济大学新闻中心主办 &nbsp; &nbsp; &nbsp; E-mail:newscenter@tongji.edu.cn</p> 
						<p class="copyright">Copyright@2018 &nbsp;同济大学版权所有 &nbsp; &nbsp; &nbsp;沪ICP备10014176号 &nbsp; &nbsp;<br>沪公网安备：31009102000038号&nbsp; &nbsp; &nbsp;<a href="http://www.shjbzx.cn/">沪举报中心</a></p> 
					</div>
					<ul class="shareList fl clearfix">

						<li><a href="http://weibo.com/tongjiuniversity"><img src="images/icons/icon-share1.png" alt="" /></a></li>



						<li><a href="wx.htm"><img src="images/icons/icon-share2.png" alt="" /></a></li>



						<li><a href="http://open.tongji.edu.cn/"><img src="images/icons/icon-share3.png" alt="" /></a></li>

						<li>

							<a href="javascript:void(0);" title="手机版" onclick="_vsb_multiscreen.setDevice('mobile')"><img src="images/icons/icon-share4.png" alt="" /></a>

						</li>

					</ul>
				</div>
			</div>
		</div>
		<i class="xialajt"><img src="images/xialajt.png" alt="" /></i>
		<script src="js/homefast_navxl.js"></script>
		<script src="js/jquery.flexslider-min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/jqthumb.js"></script>
		<!-- 代码部分end -->

    <script type="text/javascript">			// 将按钮和盒子拿出来	
    	var btn = document.getElementsByClassName('button1');
    	var div = document.getElementsByClassName('content');
    	var childFrameObj = document.getElementsByClassName('childFrame');
    	var a=1;
        var b=1;			// 每一个button上面绑定事件
    	for(var n = 0; n < btn.length; n++) {//生成闭包的立即函数	
    		(function(i) {
    			btn[n].onclick = function() {
    				if (Number(this.id) <= 3){
    					a = Number(this.id);
    					childFrameObj[0].src = "code.html?" + String(a);
    					childFrameObj[1].src = "code.html?0" + String(a);
    					for(var m = 0; m < 3; m++) {   
                            btn[m].className = "button1"; //清空效果                                                
                        };
                    };
                    if (Number(this.id) > 3){
                        b = Number(this.id)-3;
                        for(m = 3; m < btn.length; m++) {   
                            btn[m].className = "button1"; //清空效果                
                        };
                    };
                    for(m = 0; m < div.length; m++){
                        div[m].style.display = "none";  
                    };

                    this.className = "button1 active";
                    div[6*(a-1)+b-1].style.display = "block";				
                }
            }(n))
    	}	
    </script>

</body>
</html>